<div class="row card">
  <div class="col-12 my-2">
   <p class="heading">Organisation Details</p> 
  </div>
  <div class="col-12">
    <form [formGroup]="infoForm">
      <div class="row">
        <div class="col-md-4 col-12 form-group">
          <label for="name"> Name</label>
          <input type="text" id="name" formControlName="name" placeholder="Name" class="form-control">
        </div>
        <div class="col-md-4 col-12 form-group">
          <label for="username"> User Name</label>
          <input type="text" id="username" formControlName="username" placeholder="User Name" class="form-control">
        </div>
        <div class="col-md-4 col-12 form-group">
          <label for="email">Email</label>
          <input type="text" id="email" formControlName="email" placeholder="Email" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-12 form-group">
          <label for="address">Address</label>
          <input type="text" id="address" formControlName="address" placeholder="Address" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-12 form-group">
          <label for="city">City</label>
          <input type="text" id="city" formControlName="city" placeholder="City" class="form-control">
        </div>
        <div class="col-md-4 col-12 form-group">
          <label for="country">Country</label>
          <input type="text" id="country" formControlName="country" placeholder="Country" class="form-control">
        </div>
        <div class="col-md-4 col-12 form-group">
          <label for="postal_code">Postal Code</label>
          <input type="text" id="postal_code" formControlName="postal_code" placeholder="Postal Code"
            class="form-control">
        </div>
      </div>
    </form>
  </div>
</div>