<div class="d-flex" id="side-wrapper" [ngClass]="{'toggled':visible}">
  <div class="border-right" id="sidebar-body">
    <div class="sidebar-heading mb-4">
      <img src="favicon.ico" alt="">
      Creative Gmp
    </div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action" routerLink="/organization" routerLinkActive="active-route">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span (click)="visible=false" style="cursor: pointer">Organization Profile</span>
      </a>
      <a class="list-group-item list-group-item-action" routerLink="/repository" routerLinkActive="active-route">
        <i class="fa fa-area-chart" aria-hidden="true"></i>
        <span (click)="visible=false" style="cursor: pointer">repository</span>
      </a>
    </div>
  </div>
</div>